# Common Settings
APP_NAME='Wave Techzone'
APP_ENV=development
APP_ICON='./assets/images/logo-tp-orange.ico'
APP_LOGO='./assets/images/logo.png'
APP_MODE=offline  # Set to 'online' for online mode or 'offline' for offline mode

# Database Settings for Offline (Local Development)
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=wavetechzone_db  # Ensure this is the correct name
DB_USERNAME=root
DB_PASSWORD=

# API keys or other credentials (online & offline might differ)
API_KEY_OFFLINE=offline_api_key
API_KEY_ONLINE=online_api_key

# Email Configuration
GMAIL_USERNAME=test@gmail.com
GMAIL_APP_PASSWORD=
FROM_EMAIL=
FROM_NAME='Wave TechZone'
TO_EMAIL=
